* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; }
  .one-header{
      height: 50px;
      width: 100%;
      background-color: royalblue;

  }  
  .tow-header{
      height: 70px;
      background:red;
  }
 .side-barOne{
     height: 100vh;
     background: yellow;
     width: 25%;
     float: left;
 }
 .side-barTow {
     float: left;
     height: 100vh;
     background: tomato;
     width: 50%;
 }
 .side-barThere {
  background: hotpink;
  height: 100vh;
     width: 25%;
     float: left;
}
.last{
   height: 80px;
   width: 100%;
   background-color: black;
   display: flow-root; 
}



  

 
